.blog-page {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .small-header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    color: var(--color-primary);
  }
  
  .big-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-left: 20px;
    text-shadow: 2px 2px #fff;
  }
  
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
  }
  
  .blog-post {
    display: flex;
    width: 100%;
    max-width: 600px;
  }

  .blog-post article {
    flex-basis: 100%;
    padding-left: 30px;
  }

  .blog-post img {
    width: 200px;
  }

  .h-text{
    font-size: 24px;
    line-height: normal;
  }

  .p-text {
    font-size: 16px;
    line-height: normal;
  }

  .more-blog {
    width: 100px;
    background-color: var(--color-primary-varient);
    padding: 10px;
    margin-left: 350px;
    margin-bottom: 20px;
    color: var(--color-secondary);
  }